* {
  box-sizing: border-box;
}

body, html {
  padding: 0;
  margin: 0 1vmin 0 1vmin;
  /* margin: 0 3vmin 0 3vmin; */
  font-family: sans-serif;
  /* overflow: hidden; */
}

.GridContainer {
  display: grid;
  grid-template-columns: repeat(8,1fr);
  grid-column-gap: 2vmin;
  grid-row-gap: 2vmin;
  margin: 0 3vmin 0 3vmin;
  /* padding: 0px; */
}

.titleImage {
  width: 100%;
  height: 60vmin;
  object-fit: cover;
}

.subImage {
  width: 100%;
  height: 35vmin;
  object-fit: cover;
  filter: grayscale(100%);
}

/* hovering over the sub images will turn the images back to normal */
.subImage:hover {
  filter: none;
  /* transform: translateY(3); */
  box-shadow: 2vmin 2vmin 5vmin black;

}

.navigation {
  border-bottom: 0.5vmin solid transparent ;
  text-align: center;
  margin: 0 3vmin 0 3vmin;
  padding-bottom: 1vmin;
}

/* hoving over the navigation bar produces solid black border underneath */
.navigation:hover {
  border-bottom: 0.5vmin solid black;
  transition: all 2s;
}

/* subtle title animation */
.title {
  margin-top: 11vmin;
  margin-bottom: 11vmin;
  justify-self: center;
  animation: title ease-In 3s;
}

@keyframes title {
  0% {color: transparent;}
  50% {color: black;}
  100% {color: black;}
}

.label {
  font-size: 2vmin;
  margin: 0;
}


.text {
  font-size: 2vmin;
  line-height: 2;
  text-align: justify;
  margin: 0;
}

.section {
  display: grid;
  grid-column-end: span 4;
  /* align-self: center; */

}

/* button styling */
.button {
  display: grid;
  align-self: end;
  max-height: 7vmin;
  background-color: white;
  border: 0.5vmin solid black;
  color: black;
  padding: 0.5vmin 4vmin;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 3vmin;
  /* margin-top: 15vmin; */
}

.button:hover {
  display: grid;
  align-self: end;

  background-color: black;
  /* border: 0.5vmin solid black; */
  color: white;
  padding: 0.5vmin 4vmin;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 3vmin;
  cursor: pointer;
  /* margin-top: 15vmin; */

}

.navContainer {
  display: grid;
  grid-column-end: span 8;
}

.navBar {
  display: grid;
  grid-column-end: span 2;
  color: black;
  text-decoration: none;
}

.footer {
  display: grid;
  font-size: 1.5vmin;
  line-height: 2;
  margin-top: 10vmin;
  text-align: center;
  /* justify-self: center; */
}



.item-8x {
  grid-column-end: span 8;
}

.item-4x {
  grid-column-end: span 4;
}

.item-2x {
  grid-column-end: span 2;
}
